/*======================================
            GLOBAL CSS
=======================================*/


*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}


body{

    font-family:'Poppins',sans-serif;

    background:#08111f;

    color:white;

}



a{

    text-decoration:none;

    color:inherit;

}



ul{

    list-style:none;

}



.container{

    width:90%;

    max-width:1200px;

    margin:auto;

}



/*======================================
            HEADER
=======================================*/


.header{

    width:100%;

    padding:20px 0;

    background:#08111f;

}



.header .container{

    display:flex;

    align-items:center;

    justify-content:space-between;

}



.logo img{

    width:150px;

}



.navbar ul{

    display:flex;

    gap:30px;

}



.navbar a{

    font-size:16px;

    font-weight:500;

    transition:.3s;

}



.navbar a:hover{

    color:#00d4ff;

}



.header-buttons{

    display:flex;

    gap:15px;

}



.call-btn,
.whatsapp-btn{

    padding:12px 25px;

    border-radius:50px;

    font-weight:600;

}



.call-btn{

    background:#00d4ff;

    color:#08111f;

}



.whatsapp-btn{

    border:2px solid #00d4ff;

    color:#00d4ff;

}
/*======================================
            HERO SECTION
=======================================*/


.hero{

    min-height:85vh;

    display:flex;

    align-items:center;

    position:relative;

    background:

    linear-gradient(
    rgba(8,17,31,.85),
    rgba(8,17,31,.95)
    ),

    radial-gradient(
    circle at top right,
    #00d4ff33,
    transparent 40%
    );

    overflow:hidden;

}



.hero-overlay{

    position:absolute;

    inset:0;

}



.hero-content{

    position:relative;

    max-width:750px;

}



.hero-subtitle{

    color:#00d4ff;

    font-size:18px;

    font-weight:600;

}



.hero-content h1{

    font-size:55px;

    line-height:1.2;

    margin:20px 0;

}



.hero-content p{

    color:#d6d6d6;

    font-size:18px;

    line-height:1.8;

    margin-bottom:35px;

}



.hero-buttons{

    display:flex;

    gap:20px;

}



.primary-btn,
.secondary-btn{

    padding:15px 35px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

}



.primary-btn{

    background:#00d4ff;

    color:#08111f;

}



.secondary-btn{

    border:2px solid #00d4ff;

    color:#00d4ff;

}



.primary-btn:hover,
.secondary-btn:hover{

    transform:translateY(-5px);

}
